/*-- scss:defaults --*/
// Base document colors
$body-bg: #6495ED; 
$navbar-bg:  #191970;
$body-color: #00008B;
$link-color: #4B0082;

/* Override active tab */
.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link.show {
    background-color: #483D8B !important; /* Your custom active color */
    border-radius: 5px; /* Optional rounded tab look */
}


.my-column {
  // Target inner content area
  .card, .card-body {
    background-color: #FFFFFF !important;
    color: #000000; // Optional: ensure text is readable
  }
}

.my-row {
  // Target inner content area
  .card, .card-body {
    background-color: #FFFFFF !important;
    color: #000000; // Optional: ensure text is readable
  }
}
